.myEditor {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide_list {
    display: flex;

}

.presentation_name{
    width: 100%;
}

.slide_list{
    border-radius: 15px;
    flex-grow: 2;
}

.workplace_slide{
    flex-grow: 12;
}

.toolbar_slide{
    flex-grow: 0;
    margin: -20px 40px 20px 30px;

}