.myEditor {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-image: url("../../images/landscape-rye.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.presentation_name{
    width: auto;
    margin: 10px 1345px 0px 30px;
    font-weight: 600;
    height: 50px;
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    background-image: radial-gradient(ellipse, #C68549, #583217);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.slide_list{
    border-radius: 15px;
    display: flex;
}

.toolbar_slide{
    width:150px;
    margin-right: 0px;
}