.main{
    display:flex;
}

.workplace_slide {
    width: 900px;
    height: 70vh;
    border-radius: 16px;
    overflow: hidden;
}

.main_slide{
    background: rgba(254, 237, 191, 0.63);
    border: 1px solid #BDBDBD;
    border-radius: 20px;
    max-width: 900px;
    height: 70vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}