.myEditor {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #7B1FA2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;

}

.presentation_name {
    text-align: center;
    width: auto;
    border: 1px solid black;
    box-sizing: border-box;
    color: #F0BD7B;
}

.slide_list {
    border-radius: 115px;
    display: flex;
    flex: 1;
    padding-left: 70px;
}

.div_toolbar_slide{
    width: 100%;
    display: flex;
    justify-content: center;
}

.toolbar_slide {
    width: 50%;
    height: 130px;
    justify-content: flex-end;
}

.workplace_slide {
    flex: 3;
    display: flex;
    width: 60%;
    align-self: center;
}
