.inputContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 4;
    width: 100%;
}

.input_field {
    flex-basis: 300px;
    box-sizing: border-box;
    display: flex;
    width: 360px;
    height: 50px;
    min-width: 360px;
    max-width: 720px;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border: none;
    border-radius: 28px;
    background: #E1BEE7;
    padding-left: 30px;
    text-overflow: ellipsis;
}

.input_field::placeholder {
    color: #212121; /* Цвет текста плейсхолдера */

}

.input_field:focus::-webkit-input-placeholder {
    text-indent: 0;
    color: #212121;
    opacity: 0.5;
}

.input_field:focus {
    outline:none;
    cursor: none !important;
}

.input_field:focus:focus {
    cursor: none !important;
}

.error_message{
    position: absolute;
    top: 65px;
    color: #FF4081;
}